@model IEnumerable<PupBuddy_CA2_OanaSorin.Models.PuppyModel>

@{
    ViewBag.Title = "Puppies";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PupSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PupDateOfBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PupSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PupDateOfBirth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PuppyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PuppyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PuppyID })
        </td>
    </tr>
}

</table>
